<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Cuentas de Mercado Libre almacenadas</h1>
    <ul>
        <% for(let i=0; i<sellers.length; i++){ %>
            <a class="button__seller" href="" value= <%=sellers[i].seller_id%> >
                <button style="width: 200px; height: 100px; text-align: center;">
                    <%= sellers[i].seller_id %>
                </button>
            </a>
            <br>
        <% } %>
    </ul>
    <h3><%= message %></h3>
    <a style="text-decoration: none;" class="redirect__auth" href="#">
        <button class="button__link" type="button">Vincular cuenta</button>
    </a>

    <script src="setAuth.js"></script>
    <script src="setSeller.js"></script>
    <script src="sync.js"></script>
</body>
</html>