<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body class="p-3">
    <header class="mb-4">
        <h1>Bienvenido, <%=username%></h1>
    </header>
    <h2 class="mb-4">Cuentas de Mercado Libre almacenadas</h2>
    <ul class="mb-0 p-0 d-flex flex-column">
    <% for(let i=0; i<sellers.length; i++){ %>
        <a class="button__seller" href="" value= <%=sellers[i].sellerId%> >
            <button class="btn btn-outline-primary">
                <%= sellers[i].nickname %>
            </button>
        </a>
        <br>
    <% } %>
    </ul>
    <h3 class="mb-4"><%= message %></h3>
    <a style="text-decoration: none;" class="redirect__auth mt-4" href="#">
        <button class="button__link btn btn-outline-primary" type="button">Vincular cuenta</button>
    </a>

    <a href="/logout" class="mt-4">
        <button class="btn btn-outline-danger" type="button">Cerrar sesión</button>
    </a>

    <script src="setAuth.js"></script>
    <script src="setSeller.js"></script>
    <script src="sync.js"></script>
</body>
</html>