<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a style="text-decoration: none; color: black" href="http://localhost:3000">
        <h1>Dashboard</h1>
    </a>
    <!-- state es un valor que vamos pasando cuando renderizamos -->
    <p>Cuenta seleccionada: <span class="link_state"> <%=state%> </span></p>
    <button class="button__sync" type="button">Sincronizar publicaciones</button>
    <p class="status__sync"></p>
    <script src="sync.js"></script> 
</body>
</html>