<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Cuenta vinculada: <span class="link_state">(No vinculada)</span></p>
    <a style="text-decoration: none;" class="redirect__auth" href="#">
        <button class="button__link" type="button">Vincular cuenta</button>
    </a>
    <button class="button__sync" type="button">Sincronizar</button>

    <script src="link.js"></script>
    <script src="setAuth.js"></script>
    <script src="sync.js"></script>
</body>
</html>